{% extends 'base.html' %}
{% block title %}
Manager Page
{% endblock %}
{% block content %}
 <div class="container">
     <br>
            <table class="table table-hover table-dark">
         <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col">ID</th>
               <th scope="col">Name</th>
                <th scope="col">Barcode</th>
               <th scope="col">Price</th>
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in worky %}
            <tr>
               <td>{{ item.id }}</td>
               <td>{{ item.name }}</td>
                <td>{{ item.barcode }}</td>
               <td>N{{ item.price }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      </div>
{% endblock %}